@model IEnumerable<Leaves>

@{
    Layout = "_HRMSLayout";
}

<div class="container">
    <div class="card-header d-flex justify-content-between">
        Leave Details
        <div>
            <a href="#" class="addBtn fa fa-add btn btn-primary"></a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(leaves => leaves.LeaveId)</th>
                <th>@Html.DisplayNameFor(leaves => leaves.LeaveName)</th>
                <th>@Html.DisplayNameFor(leaves => leaves.LeaveDays)</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(leaves => item.LeaveId)</td>
                    <td>@Html.DisplayFor(leaves => item.LeaveName)</td>
                    <td>@Html.DisplayFor(leaves => item.LeaveDays)</td>
                    <td><a href="#" data-id="@item.LeaveId" data-name="@item.LeaveName" data-days="@item.LeaveDays" class="editBtn btn btn-primary"><i class="fa fa-pen-to-square"></i></a>  <a href="#" data-id="@item.LeaveId" class="dltBtn btn btn-danger"><i class="fa fa-trash-can"></i></a></td>
                </tr>
            }        
        </table>
    </div>
    <div class="card-footer"></div>
</div>


@*Modal for Delete Item*@
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="fa fa-trash-can"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="modalBtnDlt">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Modal for Edit Item*@
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Enter Leave Name</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-image" style="background-image: url()">
                <div class="form-group mx-2 mb-3">
                    <label for="Leave Name">Leave Name</label>
                    <input type="text" class="form-control" id="leavename" placeholder="" required="">
                    <label for="Leave Day">Leave Days</label>
                    <input type="text" class="form-control" id="leavedays" placeholder="" required="">
                </div>
            </div>
            <div class="modal-footer justify text-14">
                <button id="editSubmit" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>


@*Modal for Create Item*@
<div class="modal fade" id="modalFormAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title">Enter Leave Name</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-image" style="background-image: url()">
                <div class="form-group mx-2 mb-3">
                    <label for="Leave Name">Leave Name</label>
                    <input type="text" class="form-control" id="leavenameAdd" placeholder="Enter the Leave Name" required="">
                    <label for="Leave Days">Leave Days</label>
                    <input type="text" class="form-control" id="leavedaysAdd" placeholder="Enter the Leave Days" required="">
                </div>
            </div>
            <div class="modal-footer justify text-14">
                <button id="addSubmit" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script>
        $(document).ready(function () {

            $('.dltBtn').click(function () {
                var id = $(this).attr('data-id');
                $('#myModal').modal('show');
                $('#modalBtnDlt').click(function () {
                    $.ajax({
                        "type": "GET",
                        "url": "@Url.Action("DltLeavesById")",
                        "dataType": 'json',
                        "data": { "Id": id },
                        "success": function (data) {
                            window.location.href = '@Url.Action("ListAllLeaves","Admin")'
                            setInterval('location.reload()', 1000);
                            //alert("success");
                        },
                        "error": function (data) {
                            alert("failed");
                        }
                    });
                    
                });
            });



            $('.editBtn').click(function () {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');
                var day = $(this).attr('data-days');
                $('#modalForm').modal('show');

                $("#leavename").val(name);
                $("#leavedays").val(day);
                $("#editSubmit").click(function () {
                    var code = "";
                    var code1 = "";
                    var text = $("#leavename").val();
                    var text1 = $("#leavedays").val();
                    code += text;
                    code1 += text1;
                    $.ajax({
                        "type": "POST",
                        "url": "@Url.Action("EditLeavesById")",
                        "datatype": 'json',
                        "data": { "LeaveId": id, "LeaveName": code, "LeaveDays": Number(code1) },
                        "success": function (data) {
                            //window.location.reload();
                            window.location.href = '@Url.Action("ListAllLeaves","Admin")'
                            setInterval('location.reload()', 1000);
                        },
                        "error": function (data) {
                            alert("Error");

                        }

                    });
                    
                });
            });




            $('.addBtn').click(function () {
                $('#modalFormAdd').modal('show');
                $("#addSubmit").click(function () {
                    var code = "";
                    var code1 = "";
                    var text = $("#leavenameAdd").val();
                    var text1 = $("#leavedaysAdd").val();
                    console.log(text1);
                    code += text;
                    code1 += text1;
                    console.log(code);
                    $.ajax({
                        "type": "POST",
                        "url": "@Url.Action("AddLeaves")",
                        "datatype": 'json',
                        "data": { "leaveName": code, "leaveDays": Number(code1) },
                        "success": function (data) {
                            window.location.href = '@Url.Action("ListAllLeaves","Admin")'
                            setInterval('location.reload()', 1000);
                        },
                        "error": function (data) {
                            alert("Error");

                        }

                    });
                    
                });
            });

        });

        function refreshPage() {
            location.reload(true);
        }

    </script>
}